<div ng-controller="mainController">
  <ul class="accordion" data-accordion data-multi-expand="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Sales Pre-Close Checklist</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Document Verification</li>
          <li>Business Practice/Approval Matrix</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Booking Verification / Closing</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Document & Order Form Review</li>
          <li>Tax Information</li>
          <li>ABL Pricing</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Booking</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Document Signing Authority (DSA) for OFD Contracts</li>
          <li>Booking Instructions Preparation for Direct Deals</li>
          <li>RevRec Cut-offs
            <ul class="list-style-circle">
              <li>Post-Close</li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">After Booking</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Coordinate Booking & Obtain Invoices</li>
          <li>Partner Payment</li>
          <li>Customer On-Boarding</li>
          <li>Hardware Delivery Tracking</li>
        </ul>
      </div>
    </li>
  </ul>
</div>