<div ng-controller="mainController">
  <ul class="accordion" data-accordion data-multi-expand="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Mapping System, Structure & Obligor Type to OFD Contracts</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>OFD Contracts Table</li>
          <li>Core & Non-Core</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">OFD Contracts - Managed Programs</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Link to Legal site</li>
          <li>Description of OFD Contracts</li>
          <li>Partner Process</li>
          <li>Reseller Order Agreement (ROA)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Contract Generation</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Completing OFD Contract documents manually or via DocGen</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Contract Negotiation</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Business Bargain</li>
          <li>Amendments (Process & Samples)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Sales Financing Programs (SFP) - Arranged Programs</a>
      <div class="accordion-content" data-tab-content>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Other</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Cross-border Supply</li>
          <li>Credit Enhancements</li>
          <li>Using Customer's Form of Contracts</li>
        </ul>
      </div>
    </li>
  </ul>
</div>