<div ng-controller="mainController">
<ul class="accordion" data-accordion data-multi-expand="true">
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Credit Background</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Public / Listed Commercial
          <ul>
            <li>Tips on where to get information</li>
            <li>Subsidiary linkage analysis - sizing a deal</li>
          </ul>
        </li>
        <li>Private Commercial
          <ul>
            <li>Getting to Customer and asking for financials</li>
            <li>NDAs / CDAs</li>
          </ul>
        </li>
        <li>Government</li>
      </ul>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Tools / Analysis</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Risk Rating Matrix</li>
        <li>Structure Matrix</li>
        <li>Rate Matrix / Transactional Bank Rate</li>
      </ul>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Approval Process</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Submission - deal in WebX</li>
        <li>Approval Flow (Using OFD Contract)
          <ul class="list-style-circle">
            <li>Essential Use</li>
          </ul>
        </li>
        <li>Due diligence calls - arranging the call and getting the right person</li>
        <li>Non-standard changes - does it affect liquidity?</li>
      </ul>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Credit Enhancements</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Co-Obligors</li>
        <li>Bank Guarantees</li>
      </ul>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Referral (AKA Sales Financing or SFP)</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Approval Flow (SFP)
          <ul class="list-style-circle">
            <li>Essential Use</li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <a href="#" class="accordion-title">Compliance</a>
    <div class="accordion-content" data-tab-content>
      <ul>
        <li>Know Your Customer (KYC)</li>
        <li>Anti-Money Laundering (AML)</li>
      </ul>
    </div>
  </li>
</ul>
</div>