<div ng-controller="mainController">
  <ul class="accordion" data-accordion data-multi-expand="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Pricing (Generic)</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Market-Rate / Incentive-Rate / 0% Rate</li>
          <li>Support priced on Net License</li>
          <li>Rate Matrix</li>
          <li>Tax / Invoicing</li>
          <li>Structure Matrix (Skips and Ramps)</li>
          <li>Other (Pre-Pay)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Lease / Term</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Fixed Purchase Option (FPO) / Residual</li>
          <li>0% Lease</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Pass-Through</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Renewal Services / Multi-Year / Ordered</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Portfolio</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Migration / Trade-In / Sale Lease-Back / Refinance</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Cross-border Supply</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Systems</li>
          <li>Payment</li>
          <li>Other</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Financing Proposals</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Standard Proposals (Disclaimers & Deadline)</li>
          <li>Trade Finance Proposals</li>
          <li>Proposal Extensions & Post Close Transactions</li>
        </ul>
      </div>
    </li>
  </ul>
</div>