<div ng-controller="mainController">
  <p>{{ name }}</p>
  <ul class="accordion" data-accordion data-multi-expand="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Programs (On Premise)</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Programs + Yr 1 Support (P + S1)</li>
          <li>Programs + Support Renewals (P + SR)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Hardware</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>Hardware + Yr 1 Support (HW + S1)</li>
          <li>Hardware + Support Renewals (HW + SR)</li>
          <li>Hardware + Multi-Year Support (HW + Sn)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Public Cloud</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>SaaS, PaaS, IaaS / Metered vs Renewable Supscription</li>
          <li>Other</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Private Cloud</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>OMCS</li>
          <li>Partner (Hosting/Outsourcing)</li>
        </ul>
      </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title">Services</a>
      <div class="accordion-content" data-tab-content>
        <ul>
          <li>ACS</li>
          <li>Consulting</li>
          <li>Learning Credits</li>
          <li>Renewal Services</li>
          <li>Other
            <ul class="list-style-circle">
              <li>Linux</li>
              <li>BPO</li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">Non-Oracle Products & Services</a>
      <div class="accordion-content" data-tab-content>
        
      </div>
    </li>
  </ul>
</div>