<div ng-controller="ResourcesController">
<!--   <div class="row">
    <div class="columns small-12 medium-3 medium-offset-9 text-right deal-parameters">
      <img src="./img/filter.png"><a href="#">Deal Parameters</a>
    </div>
  </div> -->
  <ul class="accordion">
    Resources Page
  </ul>
   <div class="row">
    <div class="columns small-12 right text-right">
      <a href="#contracts" class="button large previous-button radius">Previous</a>
      <a href="#start" class="button large next-button radius">Start</a>
    </div>
  </div>
</div>