<div ng-controller="SystemController">
  <ul class="accordion">

    <li>
      <span class="accordion-title" id="sectionDetermineProductBreakdown">Rewards</span>
      <div class="accordion-content">
      <div class="row">
        <div class="columns small-12">
          <h2 class="token-accumulated">Total Tokens Accumulated: <span>12</span></h2>
        </div>
      </div>
        <div class="row">
          <div class="columns small-12 medium-4">
            <div class="card">
              <img src="https://d20b8ckvu6gb0w.cloudfront.net/gatoradeendurance/images/wheyProteinBar.png" alt="Protein Bar">
              <h4>Protein Bar</h4>
              <h5>15 Tokens</h5>
              <button class="button success">Redeem</button>
            </div>
          </div>
          <div class="columns small-12 medium-4">
            <div class="card">
              <img src="http://www.gnc.com/graphics/product_images/pGNC1-15327232dt.jpg" alt="Protein Shake">
              <h4>Isopure Zero Carb</h4>
              <h5>25 Tokens</h5>
              <button class="button success">Redeem</button>
            </div>
          </div>
          <div class="columns small-12 medium-4">
            <div class="card">
              <img src="https://s-media-cache-ak0.pinimg.com/736x/fd/8d/b9/fd8db9e95ab11f934d62b1d4720c5c43.jpg" alt="T-Shirt">
              <h4>T-Shirt</h4>
              <h5>150 Tokens</h5>
              <button class="button success">Redeem</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
