<div ng-controller="CalendarController">
  <ul class="accordion">

    <li>
      <span class="accordion-title" id="sectionDetermineProductBreakdown">Roster</span>
      <div class="accordion-content">
      <h3>Golden Gate Park 5k</h3>
      <table id="search">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Attendance</th>
            <th>Attendance</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="customer in customersList">
            <td>{{customer.firstName}} {{ customer.lastName}}</td>
            <td>{{ customer.emailAddresses["elements"][0].emailAddress }}</td>
            <td>{{ customer.phoneNumbers["elements"][0].phoneNumber }}</td>
            <!-- <td>{{ customer.affiliation }}</td> -->
            <td><button class="button">Yes</button></td>
            <td><button class="button alert">No</button></td>
          </tr>

          <tr ng-repeat="resource in catalogue | filter: filter_title | orderBy: 'title'">
            <td><a ng-if="!resource.ifWebsite" ng-href="{{ resource.url }}" download="{{ resource.title }}">{{ resource.title }}</a><a ng-if="resource.ifWebsite" ng-href="{{ resource.url }}" target="_blank">{{ resource.title }}</a><br ng-if="resource.path"><span class="resource-path" ng-if="resource.path" ng-bind-html="trustAsHtml(resource.path)"></br></span></td>
            <!-- <td><a ng-click="downloadResource(resource)" ng-download="'{{ resource.title }}'">{{ resource.title }}</a></td> -->
            <td>{{ resource.description }}</td>
            <td><span ng-repeat="section in resource.stepSections | unique: 'section'"><a href="{{ section.route }}">{{ section.section }}</a><span ng-if="!$last">, </span></span></td>
          </tr>
          </tbody>
        </table>

      </div>
    </li>
  </ul>
</div>
